<h1><%= @recipe.name %></h1>

<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: "get" %>

<h4><%= @recipe.description %></h4>

<p><%= @recipe.directions %></p>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
	<li><%=ingredient.name%></li>
<% end %>
</ul>